[submodule ".vim/bundle/base16"]
	path = .vim/bundle/base16
	url = git://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/sudochop/oh-my-zsh.git
